body {
    background-color: #88BDBC;
    font-family: Arial, sans-serif;
}
/* Nav Bar Styles */
nav.navbar{
    background-color: #254E58 !important;
}

#underline{
    text-underline-offset: 10px;
    text-decoration-color: #F3D4A5;
}

a#brandName, a.nav-link{
    color: #88BDBC !important;
}
/* Nav Bar Styles */

/* Button Style */
.btn{
    border-radius: 10px;
    border: 0px;
    background-color: #254E58;
    color: #88BDBC !important;
}
/* Button Style */

/* Container*/
.cont-outer{
    border-radius: 10px;
    background-color: #254E58 !important;
    max-height: 600px;
    color: #88BDBC !important;
}
.cont-inner{
    border-radius: 10px !important;
    background-color: #88BDBC !important;
    overflow-y: auto;
    color: #254E58 !important;
}
/* Container 1*/

/* Pills */
.outer-pill{
    background-color:   #88BDBC;
    color: #254E58;
    border-radius: 10px;
    max-width: 160px;
    margin: 5px 10px;
    font-size: 13px;
}

.inner-pill{
    background-color:   #254E58;
    color: #88BDBC;
    border-radius: 5px;
    max-width: 160px;
    margin: 1px 5px;
    padding-top: 3px;
}
/* Pills */
#accuracyChart{
    background-color: #fff;
}

/* -- */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 40%;
    cursor: pointer;
    padding: 5px;
    display: none; /* Hide by default */
}
.image-wrapper:hover .delete-btn {
    display: block; /* Show on hover */
}
/*  */
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

/* Progress Container */
.progress-container {
    position:absolute;
    top: 35%;
    left: 40%;
    background: #254E58;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: #88BDBC 5px solid;
}

/* Progress Bar */
.progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    appearance: none;
    color: #88BDBC;
    background-color: #88BDBC;
}