.img-container {
    height: 175px;
    max-height: 175px;
}

#hypothesis-two {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.results {
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

.table th, .table td {
    border: 2px solid #000;
    padding: 8px;
    text-align: center;
    width: 150px;
    max-width: 150px;
}

.table th {
    text-align: center;
    color: #88BDBC;
    background-color: #254E58;
    font-weight: bold;

}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #ddd;
}

.table td {
    text-align: center;
    color: #88BDBC;
    background-color: #254E58;
    max-width: 150px;
    width: 150px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.table {
    padding: 10px 10px;
    margin-bottom: 10px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#hypothesis-one-graph-container, #hypothesis-one-graph, #hypothesis-two-graph-container, #hypothesis-two-graph {
    display: block; 
    box-sizing: border-box; 
    max-height: 450px; 
    width: 1106px;
}

/* Remove underline from nav-link */
.links {
    text-decoration: none;
    color: #fff!important; /* Default text color for non-active */
}

/* Active tab styles */
.links.active {
    background-color: #88BDBC!important;
    color: #fff !important; /* Active text color */
}

/* Non-active tab styles */
.links {
    background-color: #254E58 !important;
    color: #fff !important; /* Non-active text color */
}

/* Hover effect for tabs */
.links:hover {
    background-color: #4A6A74 !important; /* Slightly darker for hover */
    color: #fff!important;
}

/* Focused tab styles */
.links:focus {
    outline: none;
    box-shadow: none;
}