.img-container {
    height: 80px;
    max-height: 80px;
}

#hypothesis-two, #hypothesis-two-output {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.results {
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

.table th, .table td {
    border: 2px solid #000;
    padding: 8px;
    text-align: center;
    width: 150px;
    max-width: 150px;
}

.table th {
    text-align: center;
    color: #88BDBC;
    background-color: #254E58;
    font-weight: bold;

}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #ddd;
}

.table td {
    text-align: center;
    color: #88BDBC;
    background-color: #254E58;
    max-width: 150px;
    width: 150px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.table {
    padding: 10px 10px;
    margin-bottom: 10px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#hypothesis-one-graph, #hypothesis-two-graph {
    display: block; 
    box-sizing: border-box; 
    height: 245px; 
    width: 491px;
}

#hypothesis-one-graph-expand-container, #hypothesis-one-graph-expand, #hypothesis-two-graph-expand-container, #hypothesis-two-graph-expand {
    display: block; 
    box-sizing: border-box; 
    max-height: 500px; 
    width: 1106px;
}

