#root-image-container{
    overflow-y: auto;
    max-height: 275px;
    height: 275px;
    scrollbar-width: none;
}

#output-container-1{
    height:370px; 
    color: #88BDBC;
}

#output-container-2{
    height:220px;
}

#classlist-container{
    overflow-y: auto;
    max-height: 120px; 
    height: 120px;
    scrollbar-width: none;
}

#itemlist-container{
    overflow-y: auto; 
    max-height: 75px; 
    height: 75px;
    scrollbar-width: none;
}

#maxed-class{
    background-color: rgb(0, 97, 37) !important;
}

.modal.show {
    z-index: 1050 !important;
}

.modal-backdrop.show {
    z-index: 1040 !important;
}

th, td {
    background-color: #254E58 !important;
    color: #88BDBC !important;
    border-radius: 20px;
}

.class-table-container, .table {
    max-height: 100px !important;
    height: 100px;
    overflow-y: auto;
}

.modal-content {
    max-height: 600px;
    height: 600px;
    overflow-y: auto;
}

.modal button {
    background-color: #88BDBC !important;
    color: #254E58 !important;
}

#classesList {
    display: flex;
    margin: 10px 10px;
}

.form-check {
    margin-left: 10px;
}