/* Modal styles */

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#imageModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1000;
}

#annotationCanvas {
    display: block;
    margin: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ensure the modal body centers content and prevents overflow */
.imgshow {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 0; /* Remove padding to prevent extra space */
}

/* Style for the canvas to fit within the modal */
#c {
    max-width: 100%;
    max-height: 80vh; /* Adjust as needed to fit within the modal */
    display: block;
}