#filename-item, #filename-class, #current-image, #previous-image {
    white-space: nowrap; 
    overflow-y: auto; 
    scrollbar-width: none;
}

h6{
    font-size: 13.5px;
}

button{
    max-height: 50px;
}

input{
    border-radius: 10px;
    font-size: 13.5px;
}