#filename-item, #filename-class, #current-image, #previous-image {
    white-space: nowrap; 
    overflow-y: auto; 
    scrollbar-width: none;
}

input{
    border-radius: 10px;
    font-size: 12px;
}

span{
    font-size: 13px;
}

#maxed-class{
    background-color: rgb(0, 97, 37) !important;
}