.title {
    white-space: nowrap; 
    overflow-y: auto; 
    scrollbar-width: none;
}

button {
    font-size: 10px ;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.sub-header {
    opacity: 0.56 !important;
    font-weight: 300;
}

#percent {
    color: #88BDBC !important;
}

.numberTag {
    font-size: 30px;
    margin-right: 10px;
    color: #254E58;
}

.labelTag {
    color: #1B121B;
    opacity: 0.86;
}