.title {
    white-space: nowrap; 
    overflow-y: auto; 
    scrollbar-width: none;
}

button {
    font-size: 10px ;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.sub-header {
    opacity: 0.56 !important;
    font-weight: 300;
}

#percent, #percent-num {
    color: #88BDBC !important;
}

.numberTag {
    font-size: 30px;
    margin-right: 10px;
    color: #254E58;
}

.labelTag {
    color: #1B121B;
    opacity: 0.86;
}

#filename-item, #filename-class, #current-image, #previous-image {
    white-space: nowrap; 
    overflow-y: auto; 
    scrollbar-width: none;
}


.table td {
    text-align: center;
    /* color: #88BDBC;
    background-color: #254E58; */
    max-width: 150px;
    font-size: 10px;
    width: 150px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.table th {
    text-align: center;
    /* color: #88BDBC;
    background-color: #254E58; */
    max-width: 150px;
    font-size: 10px;
    width: 150px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}